* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "FiraCode Nerd Font Mono", "monospace";
    font-weight: 500;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: #2e3440;
    /* border: 1px solid #81a1c1; */
    border: none;
}

tooltip {
    background-color: #2e3440;
    border: 2px solid #5a657d;
}

#tray {
    margin: 0px;
    padding: 4px 6px;
    border-right: 1px solid #cdcecf;
    color: #ff9999;
}

#cpu {
    margin: 0px;
    padding: 4px 6px;
    border-right: 1px solid #cdcecf;
    color: #ffcc99;
}

#memory {
    margin: 0px;
    padding: 4px 6px;
    border-right: 1px solid #cdcecf;
    color: #99ff99;
}

#battery {
    margin: 0px;
    padding: 4px 6px;
    border-right: 1px solid #cdcecf;
    color: #99ccff;
}

#network {
    margin: 0px;
    padding: 4px 6px;
    border-right: 1px solid #cdcecf;
    color: #cc99ff;
}

#pulseaudio {
    margin: 0px;
    padding: 4px 6px;
    border-right: 1px solid #cdcecf;
    color: #ff99cc;
}

#clock {
    margin: 0px;
    padding: 4px 6px;
    color: #e5e9f0;
}

#workspaces {
    background-color: #3b4252;
    margin: 2px;
    border: none;
}

#workspaces button {
    font-family: inherit;
    font-size: inherit;
    min-width: 0;
    min-height: 0;
    padding: 2px 6px;
    margin: 0px 2px;
    color: #e5e9f0;
}

#workspaces button.active {
    background-color: #b48ead;
    color: #2e3440;
    box-shadow: none;
    border: none;
    outline: none;
}

#workspaces button.urgent {
    background-color: #bf616a;
}


#cpu.critical,
#memory.critical {
    background-color: #3b4252;
    border: 2px solid #bf616a;
    color: #bf616a;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #3b4252;
    border: 2px solid #bf616a;
    color: #d06f79;
}
